# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.env/

# Database
*.db
*.sqlite3

# Node
node_modules/
frontend/build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
